<% title "Elige el establecimiento:" %>

<h1> <font color="#ff6e00">Elige uno de tus establecimientos para ver estadisticas:</font></h1>

<div id="venue_list">

  <table class="table table-hover table-condensed">
  <thead>
    <tr>
      <!-- <th>#</th> -->

      <th><%= t(:Establecimiento, scope: :'myinfo.headers') -%> <i class="icon-map-marker"></i></th>
      <th><%= t(:Ver_estadisticas, scope: :'myinfo.headers') -%> </th>
    </tr>
  </thead>
  <tbody>
  
  <% @venues.each do |venue| -%>
    <tr>
      <td><%= venue.venue_name %></td>
      <td colspan=3>

    <a href=<%= "status/"+venue.venue_thnx_id+"/stat" %>> <i class="icon-signal"></i> <i><%= t(:Ver_estadisticas, scope: :'myinfo.messages') -%></i></a> </td>
    </tr> 
  <% end -%>
  </tbody>
  </table>

</div>



